@model AirlineManagementSystem.Models.Admin
@{
    ViewBag.Title = "SignIn";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/assets/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <span class="text-danger" id="msgemail"></span>
                <div class="input-group mb-3">
                    <input type="email" id="Email" onchange="validdate('#Email','#msgemail','Email')" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span class="text-danger" id="msgpasword"></span>
                <div class="input-group mb-3">
                    <input type="password" id="Password" onchange="validdate('#Password','#msgpasword','Password')" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span toggle="#Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                </div>

                <div class="social-auth-links text-center mt-2 mb-3">
                    <button onclick="LoginAdmin();" id="btnSubmit" class="btn btn-block btn-success"><h6>Log In</h6></button>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="@Url.Action("SignUp","Account")" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/adminlte.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
    <link href="~/AMSJS/iziToast.css" rel="stylesheet" />
    <script src="~/AMSJS/iziToast.js"></script>
    <script src="~/AMSJS/Admins.js"></script>
</body>
</html>
