
@{
    ViewBag.Title = "Kiramat";
    Layout = "~/Views/Shared/MyTravelMaster.cshtml";
}

<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb-content text-center">
                    <h2 class="title">Mr Kiramat The member of AMS</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- about-area -->

<section class="about-area">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">About Kiramat</span>
                    </div>
                    <p>
                        Kiramat is a Junior full stack Web Developer is a professional who is responsible for the design and construction of websites.
                        They ensure that sites meet user expectations by ensuring they look good,
                        run smoothly and offer easy access points with no loading issues between pages or error messages.
                        And has worked with major tech companies like AITech, Arphez Technologies. 
                        He's an expert in bridging the gap between design and engineering and helping teams establish a design language that results in quality end-user experiences.

                    </p>
                    <ul>
                        Kiramat responsibilities include:
                        <li><i class="flaticon-tick-1"></i> Writing well designed, testable, efficient code by using best software development practices.</li>
                        <li><i class="flaticon-tick-1"></i>Creating website layout/user interfaces by using standard HTML/CSS/BootStrap practices.</li>
                        <li><i class="flaticon-tick-1"></i>Integrating data from various back-end services and databases.</li>
                        <li><i class="flaticon-tick-1"></i>Gather and refine specifications and requirements based on technical needs.</li>
                        <li><i class="flaticon-tick-1"></i>Create and maintain software documentation.</li>
                        <li><i class="flaticon-tick-1"></i>Be responsible for maintaining, expanding, and scaling our site.</li>
                        <li><i class="flaticon-tick-1"></i>Stay plugged into emerging technologies/industry trends and apply them into operations and activities.</li>
                        <li><i class="flaticon-tick-1"></i>Cooperate with web designers to match visual design intent.</li>


                        Requirements and skills
                        <li>
                            <i class="flaticon-tick-1"></i>Proven working experience in web programming</li>
                        <li>
                            <i class="flaticon-tick-1"></i>Top-notch programming skills and in-depth knowledge of modern HTML/CSS/BootStrape
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i> Familiarity with at least one of the following programming languages: C#.Net, ASP.NET,MVC,.Net Core, Javascript,Angular.
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i> A solid understanding of how web applications work including security, session management, and best development practices
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i> Adequate knowledge of relational database systems, Object Oriented Programming and web application development
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i> Hands-on experience with network diagnostics, network analytics tools
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i> Basic knowledge of Search Engine Optimization process
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i> Aggressive problem diagnosis and creative problem solving skills
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i>  Strong organizational skills to juggle multiple tasks within the constraints of  timelines and budgets with business acumen
                        </li>
                        <li>
                            <i class="flaticon-tick-1"></i>  Ability to work and thrive in a fast-paced environment, learn rapidly and master diverse web technologies and techniques.
                        </li>
                        <li><i class="flaticon-tick-1"></i>  BS in computer science or a related field</li>
                    </ul>
                    <a href="@Url.Action("Contact","Customer")" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->
