
@{
    ViewBag.Title = "Amina";
    Layout = "~/Views/Shared/MyTravelMaster.cshtml";
}

<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb-content text-center">
                    <h2 class="title">Miss Amina The member of AMS</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- about-area -->

<section class="about-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">About Amina</span>
                    </div>
                    <p>
                        Amina is a Web designers his plan, create and code internet sites and web pages, many of which combine text with sounds, pictures, graphics and video clips.
                        He is responsible for creating the design and layout of a website or web pages.
                        It and can mean working on a brand new website or updating an already existing site.
                        His role is different to web developers , who specialise in making web designs a reality or
                        writing code that dictates how different parts of the website fit together.
                        However, there can be crossover between the two roles.
                    </p>
                    <ul>
                        Amina responsibilities include:
                        <li><i class="flaticon-tick-1"></i>Preating website designs.</li>
                        <li><i class="flaticon-tick-1"></i>Producing sample sites.</li>
                        <li><i class="flaticon-tick-1"></i>Meeting with clients to discuss requirements and/or project progress.</li>
                        <li><i class="flaticon-tick-1"></i>Demonstrating and receiving feedback about draft sites.</li>
                        <li><i class="flaticon-tick-1"></i>Keeping up to date with recent technological and software developments.</li>
                        <li><i class="flaticon-tick-1"></i>Developing skills and expertise in appropriate software/programming languages such as HTML and Javascript.</li>
                        <li><i class="flaticon-tick-1"></i>Creating products that are user-friendly, effective and appealing.</li>
                        <li><i class="flaticon-tick-1"></i>Digital retouching and image editing.</li>
                        <li><i class="flaticon-tick-1"></i>Working as part of a multidisciplinary team.</li>
                    </ul>
                    <a href="@Url.Action("Contact","Customer")" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->
