
@{
    ViewBag.Title = "Umaima";
    Layout = "~/Views/Shared/MyTravelMaster.cshtml";
}

<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb-content text-center">
                    <h2 class="title">Miss Umaima The member of AMS</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- about-area -->

<section class="about-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">About Umaima</span>
                    </div>
                    <p>
                        Miss Umaima is a Data analysts gather and scrutinise data using specialist tools to generate information that helps others make decisions.
                        They will respond to questions about data and look for trends, patterns and anomalies within it.
                        And now he is working with Arphez Technologies. He's an expert in bridging the gap between design and engineering and helping teams
                        establish a design language that results in quality end-user experiences.
                    </p>
                    <ul>
                        Umaima responsibilities include:
                        <li><i class="flaticon-tick-1"></i>Using specialist tools to extract the data needed.</li>
                        <li><i class="flaticon-tick-1"></i>Responding to data-related queries and keeping track of these.</li>
                        <li><i class="flaticon-tick-1"></i>Analysing data to identify trends.</li>
                        <li><i class="flaticon-tick-1"></i>Setting up processes and systems to make working with data more efficient.</li>
                        <li><i class="flaticon-tick-1"></i>Researching new ways to make use of data.</li>
                        <li><i class="flaticon-tick-1"></i>Producing reports and charts communicating trends within data to non-specialists.</li>
                        <li><i class="flaticon-tick-1"></i>Presenting information generated from data to clients and managers..</li>
                        Key Skills
                        <li><i class="flaticon-tick-1"></i>A high level of mathematical ability.</li>
                        <li><i class="flaticon-tick-1"></i>The ability to analyse, model and interpret data.</li>
                        <li><i class="flaticon-tick-1"></i>Problem-solving skills.</li>
                        <li><i class="flaticon-tick-1"></i>A methodical and logical approach.</li>
                        <li><i class="flaticon-tick-1"></i>The ability to plan work and meet deadlines.</li>
                        <li><i class="flaticon-tick-1"></i>Accuracy and attention to detail.</li>
                        <li><i class="flaticon-tick-1"></i>Interpersonal skills.</li>
                        <li><i class="flaticon-tick-1"></i>Teamworking skills.</li>
                        <li><i class="flaticon-tick-1"></i>Written and verbal communication skills.</li>
                        <li><i class="flaticon-tick-1"></i>An understanding of the ethics of gathering and working with data.</li>
                    </ul>
                    <a href="@Url.Action("Contact","Customer")" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->
