
@{
    ViewBag.Title = "Mohsin";
    Layout = "~/Views/Shared/MyTravelMaster.cshtml";
}

<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb-content text-center">
                    <h2 class="title">Mr Mohsin Raza The member of AMS</h2>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->
<!-- about-area -->

<section class="about-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">About Mohsin</span>
                    </div>
                    <p>
                        Mohsin is a Fronted web developer who has mostly worked with JavaScript, TypeScript, Node.
                        js, React, and React Native. With strong problem-solving skills and the ability to adapt to any given
                        situation, Mohsin has been working remotely with international teams since 2022,
                        contributing to the development of outstanding solutions.
                    </p>
                    <ul>
                        Mohsin responsibilities include:
                        <li><i class="flaticon-tick-1"></i>Optimizing the user experience.</li>
                        <li><i class="flaticon-tick-1"></i>Using HTML, JavaScript and CSS to bring concepts to life.</li>
                        <li><i class="flaticon-tick-1"></i>Developing and maintaining the user interface.</li>
                        <li><i class="flaticon-tick-1"></i>Implementing design on mobile websites.</li>
                        <li><i class="flaticon-tick-1"></i>Creating tools that improve site interaction regardless of the browser.</li>
                        <li><i class="flaticon-tick-1"></i>Managing software workflow.</li>
                        <li><i class="flaticon-tick-1"></i>Following SEO best practices.</li>
                        <li><i class="flaticon-tick-1"></i>Fixing bugs and testing for usability.</li>


                        Mohsin Commonly Used Programming Languages like HTML, CSS and JavaScript,
                        making proficiency in each key to their success.

                    </ul>
                    <a href="@Url.Action("Contact","Customer")" class="btn">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-area-end -->
Maur is an experienced IT professional with over six years of practice, specializing in front-end web development. She has robust HTML and CSS skills, a lot of experience with responsive web design/implementation, and has taken the role of a lead front-end developer for several projects. She is very detail-oriented, works efficiently, communicates well, learns quick, manages her time well, and delivers quality work in fast-paced environments.