@model AirlineManagementSystem.Models.City
@{
    ViewBag.Title = "AddCity";
    Layout = "~/Views/Shared/MyAdminMaster.cshtml";
}

<div class="modal fade" id="Modal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel"> Welcome!!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Please Carefully Choose Your Country Name because the country Selection Box is not dependent on City Box.
                            For Example If you Choose USA City and then Select Another Country means pakistan,india etc and then Submit
                            your Form so your Inserted data is not true. Therefore focus on carefully Insertion.  
                            Thanks
                        </p>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger waves-effect col-md-12" data-toggle="modal" data-target="#Modal" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">City</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-blue"><span class="blink">Please carefully choose Country</span><label data-toggle="modal" data-target="#Modal1" data-dismiss="modal">Learn More</label></p>
                    </div>
                    <div class="col-md-12">
                        <input type="hidden" id="hdnfieldcity" />
                        <div class="form-group">
                            <label>City Name</label>
                            <input type="text" onchange="validdate('#Name','#name','City Name')" class="form-control" id="Name" placeholder="City Name">
                            <span class="text-danger" id="name"></span>
                        </div>
                    </div>
                    @*<div class="form-group">
            <label>Country Name</label>
            @Html.DropDownListFor(x => x.CountryId, new SelectList(ViewBag.Country, "CountryId", "CountryName"),
           new { @class = "form-control", onchange = "validdateDropDowns('#CountryId','#msgcountry','Country Name')" })
            <span class="text-danger" id="msgcountry"></span>
        </div>*@
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Country</label>
                            <div class="form-group form-float" onchange="validdateDropDowns('#ddlcountry', '#msgcountry', 'Country Name')" id="ddlcountry"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Province</label>
                            <div class="form-group form-float" onchange="validdateDropDowns('#ddlprovince', '#msgprovince', 'Province Name')" id="ddlprovince"></div>
                        </div>
                    </div>
                    @*<div class="form-group">
            <label>Province Name</label>
            @Html.DropDownListFor(x => x.ProvinceId, new SelectList(ViewBag.Province, "ProvinceId", "ProvinceName"),
           new { @class = "form-control", onchange = "validdateDropDowns('#ProvinceId','#msgprovince','Province Name')" })
            <span class="text-danger" id="msgprovince"></span>
        </div>*@
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Status</label>
                            <select class="form-control" onchange="validdateDropDowns('#Status', '#msgStatus', 'Status');" id="Status">
                                <option value="-1">----Select Status----</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>

                            <span class="text-danger" id="msgStatus"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger waves-effect col-md-12" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <button class="btn btn-raised btn-primary waves-effect col-md-12" id="btnSubmit" onclick="SubmitData();">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>City Details</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <button type="button" class="btn btn-raised btn-primary waves-effect" data-toggle="modal" data-target="#Modal">
                        Add City
                    </button>
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Sno:</th>

                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Country Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Province Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">City Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Status</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="mytable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/AMSJS/iziToast.css" rel="stylesheet" />
<script src="~/AMSJS/iziToast.js"></script>
<script type="text/javascript" src="~/AMSJS/City.js"></script>

